<main class="main">
  <img src="ngx-bottom-sheet.png" width="150" height="150" alt="ngx-bottom-sheet">
  <div class="content">
    <h1>{{ title }}</h1>

    <!-- Demo 1: Open Simple Bottom Sheet -->
    <div class="demo-section">
      <h3>Open Simple bottom sheet passing Component</h3>
      <pre><code>config: &#123; height: 'mid', closeOnBackdropClick: false &#125;</code></pre>
      <button (click)="openBottomSheet()">Open Bottom Sheet</button>
    </div>

    <!-- Demo 2: Open Bottom Sheet with Backdrop Click Closure -->
    <div class="demo-section">
      <h3>Open Bottom sheet that closes on Backdrop Click</h3>
      <pre><code>config: &#123; height: 'mid', closeOnBackdropClick: true &#125;</code></pre>
      <button (click)="openBottomSheetToCLoseFromBackdropClick()">Open Bottom Sheet</button>
    </div>

    <!-- Demo 3: Open Bottom Sheet and Close from Inside Component -->
    <div class="demo-section">
      <h3>Open Bottom sheet and close from inside the component</h3>
      <pre><code>config: &#123; height: 'top', closeOnBackdropClick: false &#125;</code></pre>
      <button (click)="openBottomSheetWithCloseFromInsideComponent()">Open Bottom Sheet</button>
    </div>

    <!-- Demo 4: Open Bottom Sheet and Pass Data -->
    <div class="demo-section">
      <h3>Open Bottom sheet and pass data</h3>
      <pre><code>config: &#123; height: '50%', closeOnBackdropClick: false, data: &#123; text: this.input &#125; &#125;</code></pre>
      <input [(ngModel)]="input" placeholder="Enter text to pass data">
      <button (click)="openBottomSheetAndPassData()">Open Bottom Sheet and Pass Data</button>
    </div>

    <!-- Demo 4: Open Bottom Sheet from Other Bottom Sheet -->
    <div class="demo-section">
      <h3>Open Bottom sheet from other opened Bottom sheet</h3>
      <button (click)="openBottomSheetAndToOpenOther()">Open Bottom Sheet</button>
    </div>

  </div>


  <!-- Footer Section -->
  <footer style="font-family: 'Orbitron', sans-serif; text-align: center; margin-top: 50px;">
    <p>Made with 💖 by <a href="https://www.arslanameer.com" target="_blank">Arslan Ameer</a></p>
    <p>
      <a href="https://github.com/ArslanAmeer" target="_blank">GitHub</a> |
      <a href="https://www.arslanameer.com" target="_blank">Portfolio</a>
    </p>
  </footer>

</main>

